<div class="page-header">
  <h1>Manage Posts <a href="new.html" class="btn btn-success">Add new</a></h1>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Post one</td>
      <td>Programming</td>
      <td>
        <a href="#" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    <tr>
      <td>Post two</td>
      <td>Database</td>
      <td>
        <a href="#" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    <tr>
      <td>Post three</td>
      <td>Networking</td>
      <td>
        <a href="#" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>