<div class="row">
  <div class="col-md-6">
    <div class="post">
      <div class="thumbnail">
        <img src="img/reputation.JPG" class="img-responsive" alt="">
        <div class="caption">
          <h3>Man 3D-printed alcohol bicycle media network</h3>
          <p>
            Man 3D-printed alcohol bicycle media network faded knife sensory dolphin marketing sentient neon beef noodles wristwatch corporation.
          </p>
          <p>
            <small>Posted by Joseph on November 8 2016</small>
          </p>
          <p>
            <a href="#" class="btn btn-primary">Read more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <div class="thumbnail">
        <img src="img/reputation.JPG" class="img-responsive" alt="">
        <div class="caption">
          <h3>Man 3D-printed alcohol bicycle media network</h3>
          <p>
            Man 3D-printed alcohol bicycle media network faded knife sensory dolphin marketing sentient neon beef noodles wristwatch corporation.
          </p>
          <p>
            <small>Posted by Joseph on November 8 2016</small>
          </p>
          <p>
            <a href="#" class="btn btn-primary">Read more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="post">
      <div class="thumbnail">
        <img src="img/reputation.JPG" class="img-responsive" alt="">
        <div class="caption">
          <h3>Man 3D-printed alcohol bicycle media network</h3>
          <p>
            Man 3D-printed alcohol bicycle media network faded knife sensory dolphin marketing sentient neon beef noodles wristwatch corporation.
          </p>
          <p>
            <small>Posted by Joseph on November 8 2016</small>
          </p>
          <p>
            <a href="#" class="btn btn-primary">Read more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <div class="thumbnail">
        <img src="img/reputation.JPG" class="img-responsive" alt="">
        <div class="caption">
          <h3>Man 3D-printed alcohol bicycle media network</h3>
          <p>
            Man 3D-printed alcohol bicycle media network faded knife sensory dolphin marketing sentient neon beef noodles wristwatch corporation.
          </p>
          <p>
            <small>Posted by Joseph on November 8 2016</small>
          </p>
          <p>
            <a href="#" class="btn btn-primary">Read more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>