body {
  font-family: 'Arial', sans-serif;
  background: $background-color;
  line-height: 1.6em;
}

#rblog-navbar.navbar-default .navbar-brand {
  color: rgba(119, 119, 119, 1);
}
#rblog-navbar.navbar-default {
  font-size: 18px;
  background-color: rgba(54, 66, 74, 1);
  border-width: 1px;
  border-radius: 0px;
}
#rblog-navbar.navbar-default .navbar-nav>li>a {
  color: rgba(119, 119, 119, 1);
  background-color: rgba(248, 248, 248, 0);
}
#rblog-navbar.navbar-default .navbar-nav>li>a:hover,
#rblog-navbar.navbar-default .navbar-nav>li>a:focus {
  color: rgba(255, 149, 63, 1);
  background-color: rgba(248, 248, 248, 0);
}
#rblog-navbar.navbar-default .navbar-nav>.active>a,
#rblog-navbar.navbar-default .navbar-nav>.active>a:hover,
#rblog-navbar.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(255, 149, 63, 1);
  background-color: rgba(54, 66, 74, 1);
}
#rblog-navbar.navbar-default .navbar-toggle {
  border-color: $primary-color;
}
#rblog-navbar.navbar-default .navbar-toggle:hover,
#rblog-navbar.navbar-default .navbar-toggle:focus {
  background-color: $primary-color;
}
#rblog-navbar.navbar-default .navbar-toggle .icon-bar {
  background-color: $primary-color;
}
#rblog-navbar.navbar-default .navbar-toggle:hover .icon-bar,
#rblog-navbar.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: $primary-color;
}

.btn-primary {
  background: $primary-btn-color;
}

.btn {
  border: none;
  border-radius: 0;
}

.btn:hover {
  background: $primary-color;
}

.post small {
  background: $primary-color;
  color: #fff;
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
}

footer {
  background: $primary-color;
  color: #fff;
  text-align: center;
  height: 60px;
  padding-top: 20px;
  margin-top: 30px;
}